footer
	img(src="../img/we-only-do-awesome.png")
	ul.contact
		li: a(href="tel:+441212364588") +441212364588
		li: a(href="mailto:rebellion@rebeluncut.co.uk") rebellion@rebeluncut.co.uk
		li: a(href="http://twitter.com/rebeluncut") @rebeluncut
	.legal
		p &copy; Rebel Uncut Ltd of 28D Ludgate Hill, Birmingham, UK. All rights reserved.
	.love
		p Made with #[i.fa.fa-heart] in Birmingham, UK 