header
    .wrapper
        a.logo(href="/"): img(src="../img/logo-purple.png")
        nav: ul
            li: a(href="/") Home
            li: a(href="/work") Work
            li: a(href="/films") Films
            li: a(href="/team") Team
            li: a(href="/propaganda") Updates
            //- li: a(href="#") Social Good Projects
            //- li: a(href="http://makers.rebeluncut.co.uk") Rebel Makers
            li: a(href="/chat") Contact