header
    .wrapper
        a.logo(href="/"): img(src="img/logo-purple.png")
        nav: ul
            li: a(href="/") Home
            li: a(href="/#") Work
            li: a(href="/#") Films
            li: a(href="/#") Social Good Projects
            li: a(href="#") Rebel Makers
            li: a(href="/#") Contact