extends layout

block vars
	- var pageTitle = "asda"
	- var pageClass = "asda"

block content
	#hero(style="background-image: url(../img/propaganda/etrma.png); min-height: 50vh;")
		.wrapper
	#case
		h1 ASDA
		
		p A Steak in the Future
		
		h2 Brief
		p 	We were tasked with imagining a frictionless customer journey in the near future. We were given free reign to explore a seamless, ideal customer experience.
		img(src="img/case-studies/asda/1.png")

		h2	Idea
		p 	Following a couple, planning a dinner party. They call on a range of ASDA solutions & experts to help them personalise their shopping experience. From choosing the right wine to accompany a good steak through to allergen advice for guests.
		img(src="img/case-studies/asda/2.png")

		h2 	Challenges
		p 	This particual brief pushed the team to find an engaging narrative that toed the delicate line between what near future techonolgy could potentially do and what customers would like it to do. ASDA felt we hit the nail on the head.
		img(src="img/case-studies/asda/3.png")

		h2 	Delivery 
		p 	ABP were really excited to show ASDA their vision for the future in an unconventional way, even hopping on a private plane and demoing it on a personalised iPad. The client really felt they had a stake in the future.
		img(src="img/case-studies/asda/4.png")

	.case-study-quote
		p 	Rebel Uncut effortlessly translate the strategic objectives of clients into creative solutions that really deliver on message, on time & on budget. 
		p 	Ollie Leggett, IE Design.
	#stories
		h1 Awesome: achieved
		ul
			li: a(href="asda")
				img(src="img/case-studies/asda/2.png")
				h2 A Steak in the Future
				h3 ASDA
			li: a(href="pfeg")
				img(src="img/case-studies/pfeg/1.png")
				h2 Personal Finance Education
				h3 IE Design
			li: a(href="chef")
				img(src="img/case-studies/chef/2.jpg")
				h2 From Gate to Plate
				h3 Chef &amp Brewer
