extends layout

block vars
	- var pageTitle = "Chef & Brewer"
	- var pageClass = "chef"

block content
	#hero(style="background-image: url(../img/propaganda/etrma.png); min-height: 50vh;")
		.wrapper
	#case
		h1 Chef & Brewer
		
		p From Gate to Plate
		
		h2 Brief
		p 	The client wanted to evoke a sense of connection with the produce from farm to Chef & Brewer restaurants. We were charged with shaping the C&B brand onto moving visuals whilst emphasising the message of fresh, seasonal menus across the narrative.
		img(src="img/case-studies/chef/1.png")

		h2	Idea
		p 	We developed an idea which had a common theme of being close up with the food from the farm gate to the customers plate. Combining a shallow depth of field, HD rich imagery reminiscent of cookery shows and food adverts, to bring the Chef & Brewer brand right into the visuals too.
		img(src="img/case-studies/chef/2.jpg")

		h2 	Challenges
		p 	With 2 days in the Studio Kitchen, 2 half days in the Pub and the Farm. 3 days, total shooting time, over 4 consecutive days, this was a tricky shoot to get right. Many moving parts and a tight turnaround made it a challenge and the team had to really keep the pace up.
		img(src="img/case-studies/chef/3.png")

		h2 	Graphics 
		p 	The constraints of timing and a still evolving new brand identity meant that we had to devise smart ways of embedding it onto objects in the film using visual effect techniques.
		img(src="img/case-studies/chef/4.png")

	.case-study-quote
		p 	 We were delighted at the responsiveness and creativity demonstrated by the team. It surpassed our expectations and we love the finished product. 
	#stories
		h1 Awesome: achieved
		ul
			li: a(href="asda")
				img(src="img/case-studies/asda/2.png")
				h2 A Steak in the Future
				h3 ASDA
			li: a(href="pfeg")
				img(src="img/case-studies/pfeg/1.png")
				h2 Personal Finance Education
				h3 IE Design
			li: a(href="chef")
				img(src="img/case-studies/chef/2.jpg")
				h2 From Gate to Plate
				h3 Chef &amp Brewer
