extends layout

block vars
	- var pageTitle = "etrma"
	- var pageClass = "etrma"

block content
	#hero
		.wrapper
			//- h2 ETRMA.... Kicking Ass all over Europe.
	#blog
		:marked
			# ETRMA - SOMETHING
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis.
	#updates
		h1 Propaganda
		ul
			li: a(href="#")
				img(src="img/propaganda/selfridges.jpg")
				.meta
					h2 Welcome new blood
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam neque id repellendus voluptate, itaque veniam aliquam vel dolor error eligendi. Quae veniam quisquam odio tenetur eius autem, ut doloribus.
		.next
			a(href="/bulletins") More
