extends layout

block vars
	- var pageTitle = "Films"
	- var pageClass = "films"

block content
	.page-title
		h1 Our Films
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sunt quod rem odio ipsum, consequuntur distinctio, molestiae hic impedit, dignissimos cum nostrum dolores perferendis ipsam fuga praesentium illo eligendi accusantium.

	#films
		ul
			li(style="background: black;")
				.inner
					img(src="/img/films/volatile.jpg")
					ul.meta
						.info(style="color: white;")
							h2 Volatile
							li Length: Feature
							li Type: Action
							li Status: In Production
			li(style="background: #E69641;")
				.inner
					img(src="/img/films/turbulence.jpg")
					ul.meta
						.info(style="color: white;")
							h2 Turbulence
							li Length: Feature
							li Type: Drama
							li Status: Distributed
							li More: #[a(href="#") turbulencefilm.com]
			li(style="background: #CED1CD;")
				.inner
					img(src="/img/films/500miles.jpg")
					ul.meta
						.info(style="color: white;")
							h2 500 MIles North
							li Length: Feature
							li Type: Drama
							li Status: Post Production
			li(style="background: #9404A4;")
				.inner
					img(src="/img/films/offering.jpg")
					ul.meta
						.info(style="color: white;")
							h2 The Offering
							li Length: Feature
							li Type: Dance
							li Status: Premiered
							li More: #[a(href="#") theofferingfilm.co.uk]
			li(style="background: #312C4F;")
				.inner
					img(src="/img/films/vanishing.jpg")
					ul.meta
						.info(style="color: white;")
							h2 The Vanishing Man
							li Length: Short
							li Type: Action
							li Status: Feature in Development
							li More: #[a(href="#") thevanishingman.co.uk]