extends layout/layout

block vars
	- var pageTitle = "Films"
	- var pageClass = "films"

block content
	.page-title
		h1 Our Films
		p  Whether short or feature, our film mojo is high production value storytelling that doesn't hold anything back. 

	#films
		ul
			li(style="background: black;")
				.inner
					img(src="/img/films/volatile.jpg")
					ul.meta
						.info(style="color: white;")
							h2 Volatile
							li Feature
							li Action
							li In Production
			li(style="background: #E69641;")
				.inner
					img(src="/img/films/turbulence.jpg")
					ul.meta
						.info(style="color: white;")
							h2 Turbulence
							li Feature
							li Drama
							li Distributed
							li #[a(href="#") turbulencefilm.com]
			li(style="background: #CED1CD;")
				.inner
					img(src="/img/films/500miles.jpg")
					ul.meta
						.info(style="color: white;")
							h2 500 MIles North
							li Feature
							li Drama
							li Post Production
			li(style="background: #9404A4;")
				.inner
					img(src="/img/films/offering.jpg")
					ul.meta
						.info(style="color: white;")
							h2 The Offering
							li Short
							li Dance
							li Premiered
							li #[a(href="#") theofferingfilm.co.uk]
			li(style="background: #312C4F;")
				.inner
					img(src="/img/films/vanishing.jpg")
					ul.meta
						.info(style="color: white;")
							h2 The Vanishing Man
							li Short
							li Action
							li Feature in Development
							li #[a(href="#") thevanishingman.co.uk]
