extends layout

block vars
	- var pageTitle = "Home"
	- var pageClass = "home"

block content
	#hero
		.wrapper
			h1 We are the rebellion! 
			h2 Join our digital agency to solve difficult challenges with code, design and video.
			.btn-group
				a(href="#") #JoinTheRebellion
				a(href="#") Our work
	#stories
		h1 We help tell your stories
		ul
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				h2 From steak to plate
				h3 ASDA
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				h2 Lorem ipsum
				h3 Goodyear
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				h2 Lorem ipsum
				h3 ETRMA
		.next
			a(href="/work") See more stories
			a(href="/contact") Let us tell yours
	//- #client-logos
		img(src="img/clients.png")
	#updates
		h1 Rebellion Bulletins
		ul
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				.meta
					h2 Lorem ipsum title of a post
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam neque id repellendus voluptate, itaque veniam aliquam vel dolor error eligendi. Quae veniam quisquam odio tenetur eius autem, ut doloribus.
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				.meta
					h2 Lorem ipsum title of a post
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis consequatur eveniet, at laboriosam dolores beatae commodi inventore libero! Architecto possimus consequatur, quia sequi, distinctio labore suscipit quae eveniet aut numquam!
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				.meta
					h2 Lorem ipsum title of a post
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam explicabo magni perspiciatis, eum commodi labore, nulla laboriosam minus cumque exercitationem laborum deleniti architecto tempore eveniet ea ipsum possimus quos quam.
		.next
			a(href="/bulletins") See more bulletins
	#services
		h1 This is what we do
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis.
		ul
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/narrative-films.svg', class="svg")
				h3 Narrative Film
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/corporate-films.svg', class="svg")
				h3 Corporate Film
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/visual-effects.svg', class="svg")
				h3 Visual Effects
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/development.svg', class="svg")
				h3 Development
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/training.svg', class="svg")
				h3 Training
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/events.svg', class="svg")
				h3 Events








