extends layout

block vars
	- var pageTitle = "Home"
	- var pageClass = "home"

block content
	#hero
		.wrapper
			h1 We are Rebel Uncut 
			h2 A creative agency committed to making awesome with film, animation & digital.
			.btn-group
				a(href="#") #JoinTheRebellion
				a(href="#") Our work
	#stories
		h1 Awesome: achieved
		ul
			li: a(href="asda")
				img(src="img/case-studies/asda/2.png")
				h2 A Steak in the Future
				h3 ASDA
			li: a(href="pfeg")
				img(src="img/case-studies/pfeg/1.png")
				h2 Personal Finance Education
				h3 IE Design
			li: a(href="chef")
				img(src="img/case-studies/chef/2.jpg")
				h2 From Gate to Plate
				h3 Chef &amp Brewer
		.next
			a(href="/work") More
	//- #client-logos
		img(src="img/clients.png")
	#updates
		h1 Propaganda
		ul
			li: a(href="#")
				img(src="img/propaganda/selfridges.jpg")
				.meta
					h2 Live &amp Loud - Selfridges
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quibusdam neque id repellendus voluptate, itaque veniam aliquam vel dolor error eligendi. Quae veniam quisquam odio tenetur eius autem, ut doloribus.
			li: a(href="#")
				img(src="img/propaganda/etrma.png")
				.meta
					h2 ETRMA - Tyre Education
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis consequatur eveniet, at laboriosam dolores beatae commodi inventore libero! Architecto possimus consequatur, quia sequi, distinctio labore suscipit quae eveniet aut numquam!
			li: a(href="#")
				img(src="img/team-awesome-original.jpg")
				.meta
					h2 Lorem ipsum title of a post
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam explicabo magni perspiciatis, eum commodi labore, nulla laboriosam minus cumque exercitationem laborum deleniti architecto tempore eveniet ea ipsum possimus quos quam.
		.next
			a(href="/bulletins") More
	#services
		h1 Awesome: potential
		p 
		ul
			li(style="background-image: url(img/services/film.jpg)")
				img(src='img/services/narrative-films.svg', class="svg")
				h3 Narrative Film
			li(style="background-image: url(img/services/corporate.jpg)")
				img(src='img/services/corporate-films.svg', class="svg")
				h3 Corporate Film
			li(style="background-image: url(img//services/effects.jpg)")
				img(src='img/services/visual-effects.svg', class="svg")
				h3 Visual Effects
			li(style="background-image: url(img/services/develop.jpg)")
				img(src='img/services/development.svg', class="svg")
				h3 Development
			li(style="background-image: url(img/team-awesome.jpg)")
				img(src='img/services/training.svg', class="svg")
				h3 Training
			li(style="background-image: url(img/work/events.jpg)")
				img(src='img/services/events.svg', class="svg")
				h3 Events
