extends layout

block vars
	- var pageTitle = "newblood"
	- var pageClass = "newblood"

block content
	#hero(style="background-image: url(../img/propaganda/team-awesome-original.jpg); min-height: 50vh;")
		.wrapper
			//- h2 ETRMA.... Kicking Ass all over Europe.
	#blog
		:marked
			# New Blood
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			
			<i>*What do we mean by a Rebellion? Simply put, to Team Rebel a Rebellion is ...
			
			something created with passion and purpose <br> a story people can believe in <br> a chance to disrupt; to make an impact, or maybe even a difference	<br> something real and honest
	#updates
		h1 Propaganda
		ul
			li: a(href="etrma")
				img(src="img/propaganda/etrma.png")
				.meta
					h2 ETRMA - Tyre Education
					p Team Rebel are hugely excited to be teaming up with old friends’ Clive Reeves PR to deliver a new project for the European Tyre and Rubber Manufacturers’ Association, ETRMA.
		.next
			//- a(href="/bulletins") More
