extends layout

block vars
	- var pageTitle = "newblood"
	- var pageClass = "newblood"

block content
	#hero(style="background-image: url(../img/propaganda/team-awesome-original.jpg); min-height: 50vh;")
		.wrapper
			//- h2 ETRMA.... Kicking Ass all over Europe.
	#blog
		:marked
			# New Blood
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ut numquam incidunt repudiandae earum cumque quae modi dolores inventore alias qui accusamus consectetur impedit doloremque maiores, iste architecto esse perspiciatis.
	#updates
		h1 Propaganda
		ul
			li: a(href="etrma")
				img(src="img/propaganda/etrma.png")
				.meta
					h2 ETRMA - Tyre Education
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis consequatur eveniet, at laboriosam dolores beatae commodi inventore libero! Architecto possimus consequatur, quia sequi, distinctio labore suscipit quae eveniet aut numquam!
		.next
			//- a(href="/bulletins") More
