extends layout/layout

block vars
	- var pageTitle = "Propaganda"
	- var pageClass = "updates"

block content
	.page-title
		h1 Propaganda
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repellat in voluptate, voluptatem at. Similique doloremque nam dignissimos, cupiditate architecto, ut animi eaque harum! A illo consequuntur in suscipit earum.

	#updates
		ul
			for update in site.propaganda
				li: a(href=update._url)
					img(src=update.header_img)
					.meta
						h2= update.title
						p= update.summary