extends layout/layout

block vars
	- var pageTitle = "Team"
	- var pageClass = "team"

block content
	.page-title
		h1 Team Rebel
		h2 Everyone knows a successful Rebellion takes teamwork.
		p  Team Rebel is made up of a small core gang, with an extended family of freelance creative hell-raisers and industry game changers. We understand every challenge requires its own special kind of magic, so we talent match project by project to ensure we always deliver the awesome.

	ul.team
		li
			img.headshot(src="img/team/julia.jpg", alt="Image of Julia")
			img.hero(src="img/team/ironman.jpg", alt="Image of Iron Man")
			h2 Julia Higginbottom
			h3.role Producer
			h3.hero Alter Ego -  Iron Man
		li
			img.headshot(src="img/team/nat.png", alt="Image of Nat")
			img.hero(src="img/team/thor.jpg", alt="Image of Thor")
			h2 Nat Higginbottom
			h3.role Editor
			h3.hero Alter Ego - Thor
		li
			img.headshot(src="img/team/kevin.jpg", alt="Image of Kevin")
			img.hero(src="img/team/war.jpg", alt="Image of War Machine")
			h2 Kevin Lewis
			h3.role Senior Developer
			h3.hero Alter Ego - War Machine
		li
			img.headshot(src="img/team/kate.png", alt="Image of Kate")
			img.hero(src="img/team/peel.jpg", alt="Image of War Machine")
			h2 Kate McDonald
			h3.role Storyteller
			h3.hero Alter Ego - Emma Peel
		li
			img.headshot(src="img/team/tj.png", alt="Image of TJ")
			img.hero(src="img/team/zuko.jpg", alt="Image of Zuko")
			h2 TJ Grainger
			h3.role Production Assistant
			h3.hero Alter Ego - Zuko
		li
			img.headshot(src="img/team/johl.png", alt="Image of Johl")
			img.hero(src="img/team/constantine.jpg", alt="Image of Constantine")
			h2 Johl Campbell
			h3.role Production Assistant
			h3.hero Alter Ego - Constantine
		li
			img.headshot(src="img/team/andrew.jpg", alt="Image of Andrew")
			img.hero(src="img/team/dead.png", alt="Image of Deadpool")
			h2 Andrew Sanyaolu
			h3.role Developer
			h3.hero Alter Ego - Deadpool
		li
			img.headshot(src="img/team/rob.jpg", alt="Image of Rob")
			img.hero(src="img/team/planets.jpg", alt="Image of Gatchaman")
			h2 Rob Brown
			h3.role Director
			h3.hero Alter Ego - Gatchaman
		li
			img.headshot(src="img/team/sima.jpg", alt="Image of Sima")
			img.hero(src="img/team/hit.jpg", alt="Image of Hit Girl")
			h2 Sima Gonsai
			h3.role Director
			h3.hero Alter Ego - Hit Girl
		li
			img.headshot(src="img/team/clare.jpg", alt="Image of Clare")
			img.hero(src="img/team/anneka.jpg", alt="Image of Anneka Rice")
			h2 Clare Edwards
			h3.role Producer
			h3.hero Alter Ego - Anneka Rice
		li
			img.headshot(src="img/team/carl.jpg", alt="Image of Carl")
			img.hero(src="img/team/afro.jpg", alt="Image of Puck")
			h2 Carl Jordan
			h3.role Cameraman
			h3.hero Alter Ego - Afro Samurai
		li
			img.headshot(src="img/team/sam.jpg", alt="Image of Sam")
			img.hero(src="img/team/sam2.jpg", alt="Image of Sam Gamgee")
			h2 Sam Freeman
			h3.role Visual Effects
			h3.hero Alter Ego - Sam Gamgee
		li
			img.headshot(src="img/team/steve.jpg", alt="Image of Steve")
			img.hero(src="img/team/strange.jpg", alt="Image of Dr Strange")
			h2 Stephen Atterbury
			h3.role Visual Effects
			h3.hero Alter Ego - Dr Strange
		li
			img.headshot(src="img/team/phil.jpg", alt="Image of Phil")
			img.hero(src="img/team/hans.jpg", alt="Image of Hans Zimmer")
			h2 Phil Mountford
			h3.role Composer
			h3.hero Alter Ego - Hans Zimmer
		li
			img.headshot(src="img/team/danny.jpg", alt="Image of Danny")
			img.hero(src="img/team/galactus.jpg", alt="Image of Galactus")
			h2 Danny Smith
			h3.role Writer
			h3.hero Alter Ego - Galactus
		li
			img.headshot(src="img/team/billy.png", alt="Image of Billy")
			img.hero(src="img/team/banshee.jpg", alt="Image of Banshee")
			h2 Billy Bannister
			h3.role Location Sound
			h3.hero Alter Ego - Banshee
		li
			img.headshot(src="img/team/caroline.jpg", alt="Image of Caroline")
			img.hero(src="img/team/girl.jpg", alt="Image of Power Girl")
			h2 Caroline Beavon Ltd
			h3.role Information/Data Design
			h3.hero Alter Ego - Power Girl
		li
			img.headshot(src="img/team/dick.jpg", alt="Image of Dick the Office Fish")
			img.hero(src="img/team/namor1.jpg", alt="Image of Namor")
			h2 "Dick"
			h3.role Office Mascot
			h3.hero Alter Ego - Jaws
