extends layout

block vars
	- var pageTitle = "Work"
	- var pageClass = "work"

block content
	.page-title
		h1 Our Work
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sunt quod rem odio ipsum, consequuntur distinctio, molestiae hic impedit, dignissimos cum nostrum dolores perferendis ipsam fuga praesentium illo eligendi accusantium.

	#stories
		ul
			li: a(href="#")
				img(src="img/case-studies/asda/2.png")
				h2 A Steak in the Future
				h3 ASDA
			li: a(href="#")
				img(src="img/case-studies/pfeg/1.png")
				h2 PFEG
				h3 IE Design
			li: a(href="#")
				img(src="img/case-studies/chef/2.jpg")
				h2 From Gate to Plate
				h3 Chef &amp Brewer
			//- li: a(href="#")
				img(src="img/case-studies/asda/2.png")
				h2 A Steak in the Future
				h3 ASDA
			//- li: a(href="#")
				img(src="img/case-studies/pfeg/1.png")
				h2 PFEG
				h3 IE Design
			//- sli: a(href="#")
				img(src="img/case-studies/etrma/1.png")
				h2 Tyre Education
				h3 ETRMA

	h2.section-header Other Work

	#stories.more-work
		ul
			li
				img(src="img/work/global.jpg")
				h3 GLOBAL
			li
				img(src="img/work/alstom.jpg")
				h3 ALSTOM
			li
				img(src="img/work/chef.jpg")
				h3 CHEF &amp BREWER
			li
				img(src="img/work/lemonade.jpg")
				h3 LEMONADE LA
			li
				img(src="img/work/pfeg2.jpg")
				h3 PFEG
			li
				img(src="img/work/bourg.jpg")
				h3 Bourg &amp Tibourg
			li
				img(src="img/work/global2.jpg")
				h3 Capital FM
			li
				img(src="img/case-studies/etrma/1.png")
				h3 ETRMA
			li
				img(src="img/work/nhs.jpg")
				h3 NHS
			li
				img(src="img/work/gph.jpg")
				h3 GRAMERCY PARK HOTEL
			li
				img(src="img/work/greenstem.jpg")
				h3 GREENSTEM
			li
				img(src="img/work/retail.jpg")
				h3 RETAIL BIRMINGHAM
			li
				img(src="img/work/global.jpg")
				h3 HOME OF METAL
			li
				img(src="img/work/global.jpg")
				h3 BBC
			li
				img(src="img/work/global.jpg")
				h3 CAPITAL TV
			li
				img(src="img/work/global.jpg")
				h3 ARMY

	h2.section-header Our Clients

	.client-logos
		.inner
			img(src='img/client-logos/amey.png', alt='Amey Logo')
			img(src='img/client-logos/bbclogo.png', alt='BBC Logo')
			img(src='img/client-logos/asda.png', alt='ASDA Logo')
			img(src='img/client-logos/apprentice.png', alt='Apprenticeships Logo')
			img(src='img/client-logos/army.png', alt='Army Logo')
			img(src='img/client-logos/capital.png', alt='Capital Logo')
			img(src='img/client-logos/ch4.png', alt='Channel 4 Logo')
			img(src='img/client-logos/heart.png', alt='Heart Logo')
			img(src='img/client-logos/ncc.png', alt='NCC Logo')
			img(src='img/client-logos/nhs.png', alt='NHS Logo')
			img(src='img/client-logos/greenstem.png', alt='Greenstem Logo')
			img(src='img/client-logos/global.png', alt='Global Radio Logo')
			img(src='img/client-logos/keane.png', alt='Keane Logo')
			img(src='img/client-logos/library.png', alt='Library Logo')
			img(src='img/client-logos/lsc.png', alt='LSC Logo')
			img(src='img/client-logos/pfeg.png', alt='PFEG Logo')
			img(src='img/client-logos/steelite.png', alt='Steelite Logo')
			img(src='img/client-logos/thsh.png', alt='THSH Logo')
			img(src='img/client-logos/msduk.png', alt='MSDUK Logo')
			img(src='img/client-logos/govdelivery.png', alt='Govdelivery Logo')
