body.work-single {
	#case {
		.meta {
			h2 {
				text-transform: uppercase;
				font-size: 1.5em;
				margin-bottom: 2em;
			}
		}
	}
	section {
		display: flex;
		margin-bottom: 2.5em;

		.content, 
		.image {
			width: 50%;
		}

		.content {
			.inner {
				background: white;
				width: 80%;
				margin: 5em 0;
				h2 {
					font-weight: bold;
					color: $color_accent;
					margin-bottom: 1em;
					font-size: 1.5em;
				}
				p {
					margin-bottom: 0 !important;
				}
			}
		}

		// Temp //

		&:nth-child(odd) {
			.image {
				order: 1;
			}
			.content {
				order: 2;
				.inner {
					margin-left: 20%;
				}
			}
		}
	}
	.case-study-quote {
		margin-bottom: 4rem;
		color: white;
		p:last-child {
			margin-bottom: 0;
		}
	}
}