#films {
	> ul {
		margin-bottom: 5rem;
		li {

		}
		.inner {
			@include outer-container;
		}
	}
	img {
		@include span-columns(8 of 12);
		@include shift(0.5);
	}
	.meta {
		@include span-columns(3 of 12);
		position: relative;
		.info {
			position: absolute;
			bottom: 1.5em;
			color: white;
		}
		h2 {
			text-transform: uppercase;
			font-size: 1.25em;
		}
		li {
			a {
				color: inherit;
			}
		}
	}
}