header {
	padding-top:1rem;
	padding-bottom: 0.5rem;
	a.logo {
		@include span-columns(3 of 12);
		img {
			height: 4rem;
		}
	}
	nav {
		@include span-columns(9 of 12);
		text-align: right;
		position: relative;
	}
	ul {
		position: absolute;
		bottom: 0;
		right: 0;
		li {
			display: inline-block;
			margin-left: 1em;
			margin-top: 0.5em;
			font-size: 0.8em;
			&:hover {
				cursor: pointer;
			}
		}
		a {
			color: $color_dark-grey;
			text-transform: uppercase;
			&:hover {
				background: $color_accent;
				color: white;
			}
		}
	}
	body.films &,
	body.work &,
	body.team &,
	body.contact & {
		border-bottom: 1px solid $color_accent;
	}
}

@media screen and (max-width: $medium-screen) {
	header {
		background: white;
		a.logo {
			@include span-columns(12);
			img {
				display: block;
				margin: 2em auto 0;
			}
		}
		nav {
			@include span-columns(12);
			ul {
				width: 100%;
				text-align: center;
				li {
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
}