#stories {
	@include outer-container;
	padding-bottom: 2.5rem;
	margin-top: 5rem;
	h1 {
		font-size: 2em;
		text-transform: uppercase;
	}
	ul {
		@include span-columns(12);
	}
	li {
		@include span-columns(4 of 12);
		@include omega(3n);
		a {
			color: black;
			&:hover {
				color: $color_accent;
			}
		}
		img {
			width: 100%;
		}
		h2 {
			font-size: 1.5em;
			text-transform: uppercase;
			margin: 0.5em 0 0 0;
		}
		h3 {
			margin-top: 0.5em;
		}
		&:nth-last-child(n+4) {
			margin-bottom: 2em;
		}
	}
	body.work & {
		margin-top: 0;
	}
	&.more-work {
		li {
			@include omega-reset(3n);
			@include span-columns(3 of 12);
			@include omega(4n);
		}
	}
}