body.team {
	.page-title h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5em;
	}
}

ul.team {
	@include outer-container;
	margin-top: 0;
	margin-bottom: 3rem;
	li {
		@include span-columns(2.4);
		@include omega(5n);
		text-align: center;
		margin-bottom: 2rem;
		img {
			// @include prefix((border-radius: 100em), webkit moz ms o);
			width: 100%;
			display: block;
			&.hero {
				display: none;
			}
		}
		h2 {
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 1em;
			margin-bottom: .5rem;
			a {
				color: $color_accent;
				margin-left: .5em;
			}
		}
		h3 {
			font-weight: 400;
			margin-bottom: 0;
			&.hero {
				display: none;
			}
		}
		&:hover {
			img {
				&.headshot {
					display: none;
				}
				&.hero {
					display: block;
				}
			}
			h3 {
				&.role {
					display: none;
				}
				&.hero {
					display: block;
				}
			}
		}
	}
	@media screen and (max-width: $medium-screen) {
		padding: 0 1.5rem;
		li {
			@include span-columns(6);
			@include omega(2n);
			img {
				padding: 1.5rem;
			}
		}
	}
	@media screen and (max-width: $small-screen) {
		li {
			@include span-columns(12);
		}
	}
}