#updates {
	@include outer-container;
	padding-bottom: 2.5rem;
	h1 {
		font-size: 2em;
		text-transform: uppercase;
	}
	ul {
		padding-left: 0;
	}
	li {
		a {
			@include span-columns(12);
			padding: 1em 0;
			border-bottom: 1px solid $color_light-grey;
			display: block;
			color: black;
			&:hover {
				cursor: pointer;
				color: $color_accent;
			}
		}
		&:last-child a {
			border-bottom: 0;
		}
	}
	img {
		@include span-columns(2 of 12);
	}
	.meta {
		@include span-columns(10 of 12);
	}
	p {
		margin-bottom: 0;
		font-size: 0.8em;
		margin-top: 1rem;
	}
	h2 {
		margin-bottom: 0;
		text-transform: uppercase;
	}
	body.home & {
		li:nth-child(n+4) {
			display: none;
		}
	}
	body.updates & {
		padding-bottom: 5rem;
	}
}
