$color_accent: #5F4273;
$color_light-grey: #EEEDED;
$color_dark-grey: #3B4746;

$color_diff: 10%;

$color_accent-dark: darken($color_accent, $color_diff);
$color_accent-darker: darken($color_accent, ($color_diff * 2));
$color_accent-light: lighten($color_accent, $color_diff);
$color_accent-lighter: lighten($color_accent, ($color_diff * 2));

$medium-screen: 800px;
$small-screen: 500px;

$side-padding: 2rem;