@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "vars";
@import "phzn";

@import "header";
@import "footer";
@import "page-title";
@import "section-header";
@import "see-more";
@import "home-intro";
@import "hero";

@import "updates";
@import "work-tiles";
@import "video-header";
@import "team";
@import "case-studies";
@import "case-study";
@import "client-logos";
@import "quote";
@import "contact";
@import "yrs";
@import "talent";
@import "training";
@import "stories";
@import "services";
@import "next";

body {
	margin: 0; 
	padding: 0;
	min-height: 100vh;
	font-family: 'Open Sans', 'Helvetica Neue' sans-serif;
}