extends layout

block vars
	- var pageTitle = post.page_title
	- var pageClass = post.page_class
	
block content
	#hero(style="background-image: url(" + post.header_img + "); min-height: 50vh;")
	
	#case
		h1= post.title

		block post-content