---
client: ASDA
job: A Steak in the Future
header_img: "../img/case-studies/asda/4.png"
page_title: Asda
page_class: asda
---

extends ../views/layout/work_single.jade

block case-content

	section
		.content: .inner
			h2 Brief
			p We were tasked with imagining a frictionless customer journey in the near future. We were given free reign to explore a seamless, ideal customer experience.
		.image(style="background-image: url(../img/case-studies/asda/1.png);")
	
	section
		.content: .inner
			h2 Idea
			p Following a couple, planning a dinner party. They call on a range of ASDA solutions & experts to help them personalise their shopping experience. From choosing the right wine to accompany a good steak through to allergen advice for guests.
		.image(style="background-image: url(../img/case-studies/asda/2.png);")
	
	section
		.content: .inner
			h2 Challenges
			p This particual brief pushed the team to find an engaging narrative that toed the delicate line between what near future techonolgy could potentially do and what customers would like it to do. ASDA felt we hit the nail on the head.
		.image(style="background-image: url(../img/case-studies/asda/3.png);")
	
	section
		.content: .inner
			h2 Delivery 
			p ABP were really excited to show ASDA their vision for the future in an unconventional way, even hopping on a private plane and demoing it on a personalised iPad. The client really felt they had a stake in the future.
		.image(style="background-image: url(../img/case-studies/asda/4.png);")

block quote
	p "Rebel Uncut effortlessly translate the strategic objectives of clients into creative solutions that really deliver on message, on time & on budget."