---
client: PFEG
job: Personal Finance Education
header_img: "../img/case-studies/pfeg/1.png"
page_title: PFEG
page_class: pfeg
---

extends ../views/layout/work_single.jade

block case-content

	section
		.content: .inner
			h2 Brief
			p PFEG had commisioned an entirely new brand identity from IE Design and were looking to repurpose their amazing archive. The brief was to enhance existing talking head videos, with a surprising and refreshed signposting of their work.
		.image(style="background-image: url(../img/case-studies/pfeg/1.png);")
	
	section
		.content: .inner
			h2 Idea
			p The client's brief gave us a fantastic opportunity to explore their many years of archive and brilliant work with children and finance. This mean't we really had to find a creative way to showcase it. The big idea was to use their new illustrations, with a theme of different screens to showcase their work using archive.
		.image(style="background-image: url(../img/case-studies/pfeg/2.png);")
	
	section
		.content: .inner
			h2 Challenges
			p The client had a large archive of existing films that they wanted to bring together in 4 films with a shared thread using their new brand identity. The size and quality of the films they had was diverse, so we had to come up with a way to use, fix and rebrand these in a new concept.
		.image(style="background-image: url(../img/case-studies/pfeg/3.png);")
	
	section
		.content: .inner
			h2 Graphics 
			p The illustrator Dan, had to draw his ideas in reverse and each live drawing was recorded in one continuous take. The additional challenge was to make that process seem swifter to match the narrative and bring the illustrations to life with visual effects.
		.image(style="background-image: url(../img/case-studies/pfeg/4.png);")

block quote
	p "Brilliant to see how such a clever concept has come together, we both wished we could have been there for the shoot to see the team at work." 