---
title: Ask more questions, demand better answers #AccHack15
header_img: "../img/propaganda/acchack.jpg"
page_title: Ask more questions, demand better answers #AccHack15
page_content: acchack
summary: Here’s how the history stacks up. This was the fifth year of the hackathon run as part of Parliament Week, the second anniversary of re-branding to ‘Accountability Hack’ under the trifecta of Parliament, National Audit Office (NAO)and Office for National Statistics (ONS), and the very first year that our gang got to be involved as Rebels. 
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		Here’s how the history stacks up. This was the fifth year of the hackathon run as part of Parliament Week, the second anniversary of re-branding to ‘Accountability Hack’ under the trifecta of Parliament, National Audit Office (NAO)and Office for National Statistics (ONS), and the very first year that our gang got to be involved as Rebels.

		You see thus far, between us, we’ve participated, facilitated and even circumambulated previous Parly and Accountability Hacks (ok, you got us, we threw that last one in for whimsy). But this was the first year that the new look team Rebel Uncut joined Nick Halliday and Tracy Green at the helm — and we absolutely loved it.

		As with the four events before it, Accountability Hack 2015 was a great opportunity to look at data from Parliament, NAO, ONS and beyond to build prototypes that create real social value in some way; improving transparency, accountability, and above all engaging citizens in this process. The first snow of the year may have been enough to thwart some, but not all, and on a bitterly cold November morning we were joined by new names alongside familiar faces of the civic tech scene to get the accountability party started. Because all good parties begin with accountability, am I right?!

		“Part of the idea is to get an outside perspective on the data we’ve got. But also it’s just as much about introducing people to other people, and making connections that have got a longer term value” — Nick Halliday

		To formally kick off #AccHack15, we were joined by Meg Hillier, MP for Hackney South & Shoreditch, and 2015 Chair of the Public Accounts Committee. Meg gave a very honest introduction, calling for everyone in the room, and beyond through the Periscope, to ask more questions, demand better answers and hold herself and fellow MPs to account for all their actions. Her vision for change led by “citizen auditors” can be found here.

		This year, our gang had the opportunity to work on one of four challenges, one set by each of the three organisations partnering to make AccHack possible, and a wildcard thrown in for good measure:

		NAO: Use spend data and any other data set to improve accountability.
		Parliament: Best use of linked data to improve accountability.
		ONS: Use the ONS OpenAPI to improve accountability.
		Wildcard: Use any three open data sets to improve accountability.

		We shook off the introductions with a look to these challenges, clustering around flipcharts to introduce ourselves, ideate, and try and figure out where we knew the names of the personas from. About that — one of Team Rebel is reliving her youth Slayer style (that’s vampire, not thrash metal), so we let her turn Angel into a retired techno-novice, and Buffy into a full time mum of three. These personas, alongside user needs, kicked off conversations that would ultimately lead to one of the most user-driven hackathons Team Rebel have encountered. And it was ace!

		“There’s been a lot more focus on user need — not for every entry but for quite a few of them. The ones that were winning were about user need and that’s a lot stronger than it has been at other hackathons” — Sarah Baskerville, Judge

		Much chatting, hacking and of course eating ensued. Collaboration was welcomed and encouraged via the hackpad and our home within the UKGovcamp slack. The concentration was broken only briefly by Kevin, who ran a very successful inaugural round of AccHack Code in the Dark. The premise? To test your front end skills. The rules? 15 minutes to recreate a site of Kevin’s choosing. HTML & CSS. No previews. Game on! Sixth form student Zak Cutner walked away victorious with his recreation of the Bootstrap site.
		Code in the Dark closed official Saturday proceedings. Save a couple of dedicated 5am coders (there’s always one!), it was all quiet on the hacking front until Sunday morning, when the gang reemerged for breakfast and the mad dash towards the 3pm finish line.

		For the auspicious task of judging Accountability Hack 2015, we were joined by three auspicious characters from in and around government. We were lucky enough to have Mark O’Neill (BIS), Sarah Baskerville (DFT) and Matthew Rees (NAO) take their place at the front of the auditorium to scrutinize, question and cajole the very best out of our teams.

		Right, so who won?

		### NAO
		Winner: Splender — Marek Labos
		A tool to automatically aggregate and provide (council) spending datasets in usable form.

		Parliament
		Winner: MP Expenses Bot — Chris Wilson, Alex Kitson and Josh Doherty-Turnbull
		A twitter bot that tweets random MP expenses and tags them in the tweet. It also responds to people tweeting it with a MPs name.
		Special mention: ParlDashboard — David Timmins
		Linking API outputs to provide better visibility of available information.
		Special mention: Any Questions Answered? — John Sandall and Florian Rathgeber
		Forensic fun with MP’s Q&A data.

		ONS
		Winner: You Work For Them — Katie Beacham, Jeni Tennison and John Sheridan
		A data visulisation for MPs to understand their constituents.

		Wildcard
		Winner: Blueman — Zak Cutner & Cameron Bamford
		A tool to help disabled blue badge holders park legally.
		Special mention: DDPy: data.parliament for humans — Florian Rathgeber
		Easy to use command-line interface to interact with data.parliament.uk linked data.

		Rebel Uncut Prize
		Best representing community spirit: Florian Rathgeber, Frankie Pagnacco and Rose Rees Jones

		Accountability Hack 2015, as ever, proved to be a great opportunity for each of the organising institutions to get feedback from the community to better the work they do.… And we’re not going to lie. Some of this feedback was pretty rough, with words like “horrendous” and “awful” being banded around in response to the state of the data.

		But each organisation responded in the spirit of the hack — with true transparency and an eagerness to inspire change. Nick, Tracy, Terry and their teams know there is more work to be done, and were honest in admitting this. They are pushing harder than ever to make their data better, more open, and more usable for the people. But we must not allow what still needs to be done to take away from the huge progress Nick, Tracy and many others have fought so hard for over the last five years.

		“There’s still more that we can do to make [our data] accessible to the developer community so I think some of the feedback that we’ve got from people on their particular projects is going to be really helpful to us. Also, some of the data modelling that was done — so really thinking about how our datasets work together as a whole and not in their silos — will be really helpful.” — Tracy Green

		It’s in the name of better data that events like Accountability Hack are conceived. So, too, are groups formed like the new Parliamentary Data User Group that was briefly mentioned over the weekend. After spearheading another successful AccHack, both Nick and Tracy are keen to see the PDUG up and running before Christmas, so please do go forth and tweet at them for more details.And of course, Team Rebel will help out in any way we can.

		And with that, so ends another year of partying accountability style. At this point, Team Rebel wish to say a collossal thank you to all who attended the hack, the show & tell, followed along on Twitter or even expressed interest in Accountability Hack 2015. We had a bloody brilliant time over the weekend, and once again left feeling inspired at your commitment to making things truly better, and at just how much can be achieved in 24 short hours.

		Finally, we want to once again thank Tracy and Nick for working so incredibly hard to rally the troops, open up the data (and in Nick’s case open up the NAO itself) to continue to make events like Accountability Hack possible. You guys totally embody the Rebel spirit — and we love having you in the gang.

		You can see more videos from the weekend on Rebel Uncut’s YouTube channel, and head to our Facebook to check out some photos from the weekend.

