---
title: Kicking Ass All Over Europe
header_img: "../img/propaganda/etrma.png"
page_title: Kicking Ass All Over Europe
page_content: etrma
summary: Team Rebel are hugely excited to be teaming up with old friends’ Clive Reeves PR to deliver a new project for the European Tyre and Rubber Manufacturers’ Association, ETRMA. 
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		Team Rebel are hugely excited to be teaming up once again with old friends’ <a href="http://www.clivereeves.com/">Clive Reeves Public Relations</a> to deliver a project for the <a href="http://www.etrma.org/">European Tyre and Rubber Manufacturers’ Association</a>. The campaign will communicate the importance of tyre responsibility and ownership, as well as its effects on manufacturers, shareholders, dealers and drivers. 

		While every client pushes us - and we push ourselves - to think outside the box to tell the most awesome story, ETRMA kicks it up a gear as we have to consider translation.

		Challenge accepted! 
		
		With an audience stretching across Europe, it comes as no surprise that we have to consider multi-languages and their translations when creating content. As ever, the most effective way to tell a story that needs to reach different audiences in many countries is through film. Imagery is often ubiquitous, so we are freed from the influence languages, and indeed dialects, can have on a story and it’s message. 
		
		Within each film, we have to make sure our messages survive translation; each piece is conveying very important facts that could have life-changing implications. To help with this, we’re creating animations and infographics with fun imagery to inject spirit into the campaign, while remaining clear enough to get across the important facts. 

		Part of the campaign sees us dust of a Reeves classic that has been in storage for 20 years. Clive’s Birmingham-built Mini will be reemerging to star in a films about the service life of tyres. It feels awesome to bring a little bit of Birmingham to the European audience. 

		As well as shooting in the UK, we’ve hit up Germany, Luxembourg and the Netherlands too which meant only one thing - road trip! Driving cross-continental and bombing round some of the top test tracks in Europe, the gang had amazing fun capturing action shots and troubleshooting ways for the camera to withstand Gs. We at no point pretended we were the Stig or stuntmen...

		The campaign is currently in post-production right now. We’ll make sure you know when it’s live.  
