---
title: Kicking Ass All Over Europe
header_img: "../img/propaganda/etrma.png"
page_title: Kicking Ass All Over Europe
page_content: etrma
summary: Team Rebel are hugely excited to be teaming up with old friends’ Clive Reeves PR to deliver a new project for the European Tyre and Rubber Manufacturers’ Association, ETRMA. 
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		Team Rebel are hugely excited to be teaming up once again with old friends’ Clive Reeves Public Relations to deliver a project for the European Tyre and Rubber Manufacturers’ Association. While every client pushes us - and we push ourselves - to think outside the box to tell the most awesome story, ETRMA kicked it up a gear as we had to consider translation. 

		Challenge accepted! 

		With an audience stretching across Europe, it comes as no surprise that we had to consider multi-languages and their translations when creating content. As ever, the most effective way to tell a story that needs to reach many many in many countries is through film. Imagery is often ubiquitous, so we are freed from the influence languages, and indeed dialects, can have on a story and it’s message. 
