---
title: Kicking Ass All Over Europe
header_img: "../img/propaganda/etrma.png"
page_title: Kicking Ass All Over Europe
page_content: etrma
summary: Team Rebel are hugely excited to be teaming up with old friends’ Clive Reeves PR to deliver a new project for the European Tyre and Rubber Manufacturers’ Association, ETRMA. 
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione dolorem eveniet voluptas, aliquid qui tenetur facere saepe accusamus, enim similique dolore delectus repellat quia! Debitis, fugiat consequuntur illum officiis.

		Lorem ipsum dolo sit amet, consectetur adipisicing elit. Eos, dicta, molestiae deserunt inventore ea assumenda suscipit, neque obcaecati deleniti earum nemo amet sed adipisci possimus doloremque dolores. Quisquam, deleniti, eos!