---
title: New Blood
header_img: "../img/propaganda/etrma.png"
page_title: New Blood
page_content: new-blood
summary:  So. We’re a small core gang with lots of spirit and a big heart. We’re big on disruption, and that goes as much for our internal process as what we do in our work. It's time to welcome new blood, and invite you to the new Rebellion.  
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		So. We’re a small core gang with lots of spirit and a big heart. We’re big on disruption, and that goes as much for our internal process as what we do in our work. We’re keen not to get stuck in a rut; to evolve our purpose because of what’s changing around us in industry, and the skills of our Rebels old and new. 

		With this in mind, you might notice we’ve made some changes to Rebel Uncut. We’ve transitioned from an independent production company into a fledgling creative agency, diversifying our team and our skillset to take on more awesome than ever. While still playing with narrative and corporate film, animation and TV production, we can now also offer creative consultancy and digital development. 

		With Kevin Lewis now a fully card carrying member of Team Rebel - he’s been part of the extended family for 18 months now - we’ve finally found a Senior Developer worth his weight in Pop! vinyls. Kev brings with him attitude, energy and insane skills as a full stack front end developer and designer. A hacker at heart, Kevin will always push himself to find the freshest and most inventive solution. 

		We’ve also scooped up Kate McDonald along the way. Kate’s first love is words - all of the words! She brings with her experience in research, creative project management and on/offline copy editing and writing to take her place as team Rebel’s Writer in Residence. Whether fact, fiction or absolute fantasy, Kate can help tell your story. 

		It’s also hugely important to us to enable young people by offering opportunities in our - albeit totally crazy - workplace. That’s why we’re super psyched to welcome TJ Grainger and Johl Campbell to Rebel Uncut. Both join us as production assistants part time while working their way through Bourneville College. TJ’s working on a Creative & Digital Media NVQ while Johl is getting stuck into Art & Design NVQ. Sometimes the most mature voices in the office (no, seriously!), our kick ass production assistants are already flying high and delivering awesome with Team Rebel. 

		Whatever your challenge, Team Rebel are ready and waiting to accept. We’ll attack with the same creativity, passion and fair amount of attitude that we always have, only now we’re able to tell more stories in more diverse ways. We think it’s time you joined our Rebellion, so why not pop in for coffee and a chat?
