---
title: New Blood
header_img: "../img/propaganda/etrma.png"
page_title: New Blood
page_content: new-blood
summary:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse maxime quo repellendus iste eos architecto possimus est dolor. Iusto iste repudiandae officiis voluptas accusantium? Quaerat soluta iusto sunt, molestias.
---

extends ../views/layout/update_single.jade

block post-content
	:marked
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ratione dolorem eveniet voluptas, aliquid qui tenetur facere saepe accusamus, enim similique dolore delectus repellat quia! Debitis, fugiat consequuntur illum officiis.

		Lorem ipsum dolo sit amet, consectetur adipisicing elit. Eos, dicta, molestiae deserunt inventore ea assumenda suscipit, neque obcaecati deleniti earum nemo amet sed adipisci possimus doloremque dolores. Quisquam, deleniti, eos!